@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFPro/sf-pro-display-regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFPro/sf-pro-display-medium.otf') format('opentype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFPro/sf-pro-display-bold.otf') format('opentype');
    font-weight: 700;
  }
  
  